.background {
    background-image: url(../..//public/img/footer-bg.jpg);
    background-size: cover;
    overflow-y: hidden;
}

img {
    transform: scale(1.2);
}

ul {
    li {
        padding: 5px 0px;
        padding-right: 15px;

        h2 {
            color: #fff;
        }

        a {
            color: #fff;
            text-decoration: none;
            list-style-type: none;
            letter-spacing: 1px;
            font-weight: 100;
        }
    }
}

.lists {
    display: flex;
    padding-top: 40px;
}